<template>
  <StackLayout id="searching" class="align-center" :class="platform" @tap="clearFocus">
    <Label textWrap="true" text class="h2"/>

    <!-- Email Input -->
    <FlexboxLayout
      padding="16"
      borderRadius="16"
      backgroundColor="#ffffff"
      class="input-container"
      width="300"
      alignItems="center"
      justifyContent="center"
    >
      <Image src="~/assets/icons/Mail.png" height="20" minWidth="20" margin="0 12"/>
      <TextView
        :width="searchBarWidth"
        editable="true"
        v-model="searchQuery"
        hint="Email"
        class="input extra-bold"
        :class="{empty: (searchQuery == '')}"
        ref="searchBar"
        maxlength="8"
      ></TextView>
    </FlexboxLayout>
    <!-- End Email Input -->
    <!-- Send Button -->
    <FlexboxLayout
      marginTop="10"
      padding="12"
      borderRadius="16"
      backgroundColor="#ffffff"
      class="input-container"
      width="300"
      alignItems="center"
      justifyContent="center"
    >
      <Button class="send-button bold">Send</Button>
    </FlexboxLayout>
    <!-- End Send Button -->
    <!-- Close Sending -->
    <AbsoluteLayout width="80" height="80" class="close" @tap="toggleSearch">
      <Image src="~/assets/icons/Cross.png" left="28" top="25" width="25" height="25" class="icon"/>
    </AbsoluteLayout>
    <!-- End Close Sending -->
  </StackLayout>
</template>

<script>
import CityOverview from "./CityOverview";
const application = require("tns-core-modules/application");

export default {
  methods: {
    toggleSearch() {
      this.$emit("togglesearch");
    },
    goToCityOverview(city) {
      this.$navigateTo(this.cityOverviewPage, {
        props: {
          city: city
        }
      });
    },
    clearFocus() {
      this.$refs.searchBar.nativeView.dismissSoftInput();
    }
  },

  mounted() {
    //this.searchQuery = "";
    //if (application.android) {
    //setTimeout(() => {
    //this.clearFocus();
    // }, 100);
    // } else if (application.ios) {
    //  setTimeout(() => {
    //      this.searchBarWidth = "100%";
    // }, 500);
    // }

    if (application.ios) {
      this.platform = "ios";
      setTimeout(() => {
        this.searchBarWidth = "100%";
      }, 500);
    } else if (application.android) {
      this.platform = "android";
    }
  },

  computed: {
    filteredCities() {
      if (this.searchQuery !== "") {
        return this.cities.filter(city =>
          city.toLowerCase().includes(this.searchQuery.toLowerCase())
        );
      }
    }
  },

  data() {
    return {
      platform: "",
      searchBarWidth: "0%",
      cityOverviewPage: CityOverview,
      searchQuery: "",
      cities: [
        "Johannesburg",
        "Berlin",
        "Toronto",
        "Mumbai",
        "Munich",
        "Madrid",
        "Dublin",
        "Chennai",
        "India",
        "Los Angeles",
        "Miami",
        "Prague",
        "Vienna",
        "Shanghai",
        "Rome",
        "Taipei",
        "Osaka",
        "Milan",
        "Amsterdam",
        "Barcelona",
        "Istanbul",
        "Hong Kong",
        "Kuala Lumpur",
        "New York",
        "Seoul",
        "Tokyo",
        "Singapore",
        "Dubai",
        "Paris",
        "London",
        "Bangkok"
      ]
    };
  }
};
</script>

<style scoped>
#searching {
  padding: 0 25;
  /* background:yellow; */
}

#searching .city {
  color: #ffffff;
  font-size: 16;
}

#searching .h2 {
  font-size: 18;
  margin-bottom: 40;
  color: #ffffff;
}

#searching .input-container {
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

#searching .input {
  background-color: #ffffff;
  height: 60;
  text-decoration: none;
  font-size: 35;
  text-align: left;
  width: 100%;
  flex-grow: 2;
}

#searching .send-button {
  background-color: #ffffff;
  height: 20;
  text-decoration: none;
  font-size: 20;

  width: 100%;
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

#searching.ios .input {
  padding-top: 10;
}

#searching .input.empty {
  font-size: 16;
  padding-top: 19;
}

#searching .close {
  height: 40;
  width: 40;
  background-image: "~/assets/icons/Cross.png";
  background-size: contain;
  margin-top: 75;
  margin-bottom: 100;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
</style>